@model IEnumerable<bookstore.Models.contact>
@{
    ViewBag.Title = "contactlist";
    Layout = "~/Views/Shared/_Layoutamdin.cshtml";
}
<div class="container">

    <table class="table">
        <thead>
            <tr>
                <th>姓名</th>
                <th>信箱</th>
                <th>連絡電話</th>
                <th>訊息</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.name</td>
                    <td>@item.email</td>
                    <td>@item.phone</td>
                    <td>@item.msg</td>
                    <td>@Html.ActionLink("刪除", "contactdel", new { id = item.Id })</td>
                </tr>
            }
        </tbody>
    </table>

    <a class="btn btn-primary" href="/home/admin">回後台</a>

</div>